{% extends "AppFinal/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Agregando avatar de {{usuario}}</h1>

<form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}


    <table>
        {{formulario.as_table}}    
    </table>

    <!-- <p>Nombre: <input type="text" name="nombre" id="nombre"> </p>
    <p>Apellido: <input type="text" name="apellido" id="apellido"> </p>
    <p>E-mail: <input type="email" name="email" id="email"> </p>
    <p>Celular: <input type="number" name="celular" id="celular"> </p> -->
    <input type="submit" value="Agregar avatar">

{% endblock %}

{% block titulo %}

    <h1> Agregando avatar </h1>

{% endblock %}