{% extends "AppFinal/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

{% for animal in object_list %}

    <li>{{ animal }}</li>

    <button>
        <a href="{% url 'animal_borrar' animal.id %}">Borrar Animal</a>
    </button>
    <button>
        <a href="{% url 'animal_editar' animal.id %}">Editar Animal</a>
    </button>
    <button>
        <a href="{% url 'animal_detalle' animal.id %}">Detalle Animal</a>
    </button>

{% endfor %}

<p>
    <a href="{% url 'animal_crear' %}">CREAR</a>
</p>

<h1>Animales perdidos</h1>

<form action="{% url 'animal' %}" method="POST"> {% csrf_token %}


    <table>
        {{formularioanimal.as_table}}    
    </table>

    
    <input type="submit" value="ENVIAR">

</form>

{% endblock %}